html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;

}
body{
  height: 100vh;
  width: 100vw;
}

.nav{
  height: 10vh;
  width: 100vw;
  background-color: rgb(135, 242, 250);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:rgb(202, 39, 66);
  /* padding: 50px 0px; */
}
.nav>img{
  height: 85px;
  margin-left: 20px;
}

.con{
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.con>h2{
  padding: 15px 25px;
  color:rgb(202, 39, 66) ;
}
.search {
  display: flex;
  align-items: center;
  background-color: rgb(27, 31, 247);
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 400px;
  
}

.searchInput {
  border: none;
  background-color: transparent;
  padding: 5px 10px;
}

.searchInput::placeholder {
  color: lightgray;
}
.page1{
  height: 500px;
  width: 100vw;
  background-color: red;
}
.page1>img{
  height: 500px;
  width: 100vw;
}
.type{
  padding: 20px;
  background-color: rgb(107, 223, 244);
  counter-reset: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  cursor: pointer;
}
.type::-webkit-scrollbar {
  display: none;
}
.type h2 {
  
  font-family: domain;
  
  display: inline-block;
  
  animation-timing-function: linear;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(calc(-100% - 34px));
  }
}

.type:hover h2{
  animation-play-state: paused;
}
.typedis{
  
  background-color: red;
  display: flex;
}
.typedis1{
  width: 50%;
  background-color:white;
  height: 500px;
  font-weight: 500;
  font-family:Cambria;
  
}
.typedis1>h2{
  margin-left: 35px;
  margin-right: 35px;
  padding: 20px 20px;
}
.typedis1>button{
  padding: 5px 14px;
  margin-left: 600px;
  background-color: rgb(151, 230, 248);
  color: black;
}
.typedis1:hover button{
   background-color: aqua;
}
.typedis2{
  width: 50%;
  background-color:rgb(241, 210, 206);
  height: 500px;
  display: flex;
}
  
.typedis>img{
    height: 100px;
    width: 50%;
}

#page5:hover h3{
  animation-play-state: paused;
}
.page4{
  padding: 20px;
  background-color: rgb(161, 226, 240);
  align-items: center;
  
}
.page4>h1{
  margin-left: 700px;
  color: rgb(104, 226, 43);
}
.page5{
  /* padding: 180px; */
  background-color:white ;
  counter-reset: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.pagetop6{
    padding: 15px 0px;
}
.page6{
  height: 400px;
  background-color: red;
  display: flex;
  overflow: hidden;
}
.page6l{
  width: 50%;
  height: 400px;
  background-color: white;
  overflow: hidden;
  
}

.page6r{
  height: 400px;
  width: 50%;
  background-color: rgb(184, 43, 66);
  overflow: hidden;
}
.page6r>img{
  width: 47%;
  height: 400px;
}
.page6l>img{
  width: 47%;
  height: 400px;
  overflow-y: hidden;
}
.page6l:hover img{
  scale: 1.1;
  overflow: hidden;
}
.page6r:hover img{
  scale: 1.1;
  overflow: hidden;
}
.pagetop7{
  height: 80px;
}
.page7{
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: space-between;

}
.page7-1{
  width: 25%;
  height: 300px;
  
}
.page7-2{
  width: 25%;
  height: 300px;
  
}
.page7-3{
  width: 25%;
  height: 300px;
}
.page7-4{
  width: 25%;
  height: 300px;
}
.page7>img{
  margin: auto;
}

.page8{
  padding: 150px 0px;
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: space-between;

}
.page8-1{
  width: 25%;
  height: 300px;
  
}
.page8-2{
  width: 25%;
  height: 300px;
  
}
.page8-3{
  width: 25%;
  height: 300px;
}
.page8-4{
  width: 25%;
  height: 300px;
}
.page8>img{
  margin: auto;
}
.page9{
  height: 600px;
  background-color: white;
  display: flex;
}
.page9l{
  height: 500px;
  width: 35%;
  background-color:white;
  border-right: 2px solid rgb(43, 142, 241);
}
.page9r{
  height: 600px;
  width: 65%;
  background-color:white;

}
.page9l>img{
  height: 400px;
  margin: 70px;
  align-items: center;
}



.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}
footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

/* cakeinfo page */
.info1{
 height: 500px;
 width: 100%;
 background-color: red;
 display: flex;
}
.info1-l{
  width: 30%;
  height: 500px;
  background-color: white;
  border-right: 1px solid rgb(111, 220, 240);
}

.info1-r{
  width: 70%;
  height: 500px;
  background-color:white;
}
.info1-l>img{
  align-items: center;
  margin: 75px;
} 
.info1-r>h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 20;
  margin-top: 35px;
  margin-left: 25px;
}
.info1-r>h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 20;
  margin-left: 55px;
}
.info1-r>button{
  padding: 10px 14px;
  margin-top: 60px;
  margin-left: 300px;
  background-color: rgb(80, 184, 207);
  color: black;
  cursor: pointer;
}
.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}
.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}
.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 460px;
}
.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}


